.bg-green{
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.16));
    background: #579540;
}

.bg-lightGreen{
    filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.16));
    background: #EFFFEA;
}

.bg-lightGreenShade1{
    background: rgba(123, 221, 87, 0.55);
}