<div class="viewAgents">
    <mat-icon style="position: absolute;top:1rem;right:1rem;">highlight_off</mat-icon>
   <div class="h1" style="display: flex; gap: 1rem;" >
    <b> Delivery Details of #UL13072</b>
    <span>Pending</span>
</div >
<p style="font-size: 1rem;color: black;font-weight: 400">Customer Details </p>
<div class="details flex">
  <img src="https://i.pravatar.cc/300" style="height: 4rem; width: 4rem; border-radius: 50%;" alt="">

    <div  style="display: flex; flex-direction: column; gap: 0.5rem;">
        <span>Name:  <b> John Doe</b></span>
        <span>Email:  <b> email@gmail.com</b></span>
    </div>
    <div  style="display: flex; flex-direction: column; gap: 0.5rem;">
        <span><mat-icon> location_on</mat-icon>Robert Robertson, 1234 NW Bobcat Lane</span>
        <span>Phone: <b>08012345678</b></span>
    </div>
    <div style="display: flex;flex-direction: row;gap: 1rem;" >
        
       <mat-icon> phone</mat-icon>
            <mat-icon> mail_outline</mat-icon>

       
    </div>
</div>
<p style="font-size: 1rem;color: black;font-weight: 400">Pickup Agent Details </p>
<div class="details flex">
  <img src="https://i.pravatar.cc/300" style="height: 4rem; width: 4rem; border-radius: 50%;" alt="">

    <div  style="display: flex; flex-direction: column; gap: 0.5rem;">
        <span>Name:  <b> John Doe</b></span>
        <span>Email:  <b> email@gmail.com</b></span>
    </div>
    <div  style="display: flex; flex-direction: column; gap: 0.5rem;">
        <span><mat-icon> location_on</mat-icon>Robert Robertson, 1234 NW Bobcat Lane</span>
        <span>Phone: <b>08012345678</b></span>
    </div>
    <div style="display: flex;flex-direction: row;gap: 1rem;" >
        
       <mat-icon> phone</mat-icon>
            <mat-icon> mail_outline</mat-icon>

       
    </div>
</div>
<p style="font-size: 1rem;color: black;font-weight: 400">Order Details </p>
<div class="details flex" style="justify-content: flex-start;gap: 3rem;">
  <span style="color:black;font-size: 1rem;">Order Id #89978fd</span>
    <span style="color:black;font-size: 1rem;">Pickup : 12 April, 12:00 PM</span>
    <span style="color:black;font-size: 1rem;">Expected Delivery : 12 April, 12:00 PM</span>
</div>
<div class="actions flex" style="justify-content: flex-start;gap: 1rem;">
    <button style="width: 10rem;"  mat-stroked-button color="warn">Cancel Booking</button>
    <button style="width: 10rem;"  mat-stroked-button color="primary">Change Agent</button>
</div>

</div>
